#search-form{
  
  label {
    display: block;
  }
  
  input {
    width: 100%;
  }
  
}

.comment-form-comment label {
  
  display: block;
  
}

.comment-form-comment textarea#comment {
  
  width: 100%;
  
}