ul#navbar-mobile {
  padding-left: 15px;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-logo {
  
  max-width: 350px;
  margin-top: 15px;
}

@media screen and (max-width: 450px) {
    .navbar-brand {
      
      font-size: 14px;
      
    }
  }