.list-service {
  font-size: 15px;
  color: $brand-grey;
}

.quiet {
  font-size: 13px;
  padding-top: 10px;
}

.section-header {
  margin-left: 15px;
}

.team h2 {
  font-size: 28px;
}

.main-footer .btn {
  color: white;
}